<div class="comment">
    <div class="comment-container">
        <div class="comment-content">
                <owl-carousel-o class="slide-content" [options]="customOptions">
                        <ng-template  carouselSlide>
                            <div class="slide-item">
                                <div class="img">
                                    <img src="./../../../../assets/img/ava1.jpg" alt="">
                                </div>
                                <div class="des">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque animi sunt dicta quod amet, temporibus vel ea quo aliquid mollitia fuga, facere totam tempore adipisci doloremque quis fugiat alias dolor.
                                </div>
                                <div class="name-cmt">
                                    Thùy linh - Diễn viên điện ảnh
                                </div>
                                <div class="background"></div>
                            </div>
                        </ng-template>
                        <ng-template  carouselSlide>
                                <div class="slide-item">
                                    <div class="img">
                                        <img src="./../../../../assets/img/ava2.jpg"  alt="">
                                    </div>
                                    <div class="des">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque animi sunt dicta quod amet, temporibus vel ea quo aliquid mollitia fuga, facere totam tempore adipisci doloremque quis fugiat alias dolor.
                                    </div>
                                    <div class="name-cmt">
                                        Thùy linh - Diễn viên điện ảnh
                                    </div>
                                    <div class="background"></div>
                                </div>
                            </ng-template>
                            <ng-template  carouselSlide>
                                    <div class="slide-item">
                                        <div class="img">
                                            <img src="./../../../../assets/img/ava3.jpg" alt="">
                                        </div>
                                        <div class="des">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque animi sunt dicta quod amet, temporibus vel ea quo aliquid mollitia fuga, facere totam tempore adipisci doloremque quis fugiat alias dolor.
                                        </div>
                                        <div class="name-cmt">
                                            Thùy linh - Diễn viên điện ảnh
                                        </div>
                                        <div class="background"></div>
                                    </div>
                                </ng-template>
                </owl-carousel-o>
        </div>
    </div>
</div>
