<div class="control">
    <div class="control-container">
            <hr/>
            <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quản lý danh mục sản phẩm:</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                      <option value="1">Thêm sản phẩm</option>
                      <option value="2">Sửa sản phẩm</option>
                      <option value="3">Xóa sản phẩm</option>
                    </select>
            </form>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="add">
                      <div class="form-group">
                        <label for="">Tên sản phẩm</label>
                        <input type="text" class="form-control">
                        <label for="">Giá sản phẩm</label>
                        <input type="text" class="form-control">
                        <label for="">Ảnh sản phẩm</label>
                        <input type="text" class="form-control">
                        <label for="">Tình trạng sản phẩm</label>
                        <br/>
                        <select>
                            <option selected>Chọn...</option>
                            <option value="true">Còn hàng</option>
                            <option value="false">Hết hàng</option>
                          </select>
                          <br/>
                        <label for="">Mô tả sản phẩm</label>
                        <input type="text" class="form-control">
                        <label for="">Đánh giá sản phẩm</label>
                        <br/>
                        <select>
                            <option selected>Số sao</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                          <br/>
                          <label for="">Loại sản phẩm</label>
                          <br/>
                          <select>
                              <option selected>Số sao</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            <br/>
                            <label for="">Màu sản phẩm</label>
                            <br/>
                            <select>
                                <option selected>Số sao</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                              <br/>
                              <label for="">Nhóm sản phẩm</label>
                            <br/>
                            <select>
                                <option selected>Số sao</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                              <br/>
                            <button type="button" class="btn btn-primary">Thêm sản phẩm</button>
                      </div>
                    </div>
              </div>
            </div>
    </div>
</div>
