<footer>
    <div class="footer-container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 row1">
                <div class="footer-logo">
                    <a>N-Furniture</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 row2">
                <div class="footer-address">
                    <div class="footer-address-title">
                    <h3>Liên hệ</h3>
                    </div>
                    <div class="address-item-container">
                        <div class="footer-address-item">
                        <h4><i class="fas fa-phone-alt"></i> 19008198 </h4>
                        <h4><i class="fas fa-envelope"></i> N-Furniture@vn.com.vn</h4>
                        <h4><i class="fas fa-map-marker-alt"></i> 100, Trần Hưng Đạo, Hoàn Kiếm, Hà Nội</h4>
                        </div>
                    </div>	
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 row3">
                <div class="footer-link">
                    <div class="footer-link-title">
                    <h3>Kết Nối</h3>
                    </div>
                    <div class="footer-link-item">
                    <a href="#/"><i class="fab fa-facebook-f"></i></a>
                    <a href="#/"><i class="fab fa-instagram"></i></a>
                    <a href="#/"><i class="fab fa-twitter"></i></a>
                    <a href="#/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>	
            </div>	
        </div>
        <div class="design-copyright">
            <p>Designed & Developed by <a>Ha<span>nguyen</span></a></p>
           </div>  	
    </div>
</footer>
